pkgbase = ffmpeg
	pkgdesc = A complete solution to record, convert and stream audio and video (all possible features for AMD)
	pkgver = 5.1
	pkgrel = 1
	url = https://www.ffmpeg.org/
	arch = x86_64
	license = custom: nonfree and unredistributable
	license = LGPL2.1
	license = GPL2
	license = GPL3
	license = LGPL3
	makedepends = git
	makedepends = decklink-sdk
	depends = amf-headers
	depends = aom
	depends = aribb24
	depends = alsa-lib
	depends = avisynthplus
	depends = bzip2
	depends = celt
	depends = chromaprint
	depends = clang
	depends = codec2
	depends = cuda
	depends = dav1d
	depends = ffnvcodec-headers
	depends = fontconfig
	depends = freetype2
	depends = fribidi
	depends = frei0r-plugins
	depends = glslang
	depends = gmp
	depends = gsm
	depends = gnutls
	depends = jack
	depends = intel-media-sdk
	depends = kvazaar
	depends = ladspa
	depends = lame
	depends = lcms2
	depends = libass
	depends = libavc1394
	depends = libbluray
	depends = libbs2b
	depends = libcaca
	depends = libcdio-paranoia
	depends = libdc1394
	depends = libdrm
	depends = libfdk-aac
	depends = libgcrypt
	depends = libgl
	depends = libgme
	depends = libiec61883
	depends = libilbc
	depends = libjxl
	depends = libmfx
	depends = libmodplug
	depends = libmysofa
	depends = libomxil-bellagio
	depends = libopenmpt
	depends = libplacebo
	depends = libpulse
	depends = librabbitmq-c
	depends = libraw1394
	depends = librsvg
	depends = libsoxr
	depends = libssh
	depends = libtheora
	depends = libva
	depends = libvdpau
	depends = libvorbis
	depends = libvpx
	depends = libwebp
	depends = libxext
	depends = libx11
	depends = libxcb
	depends = libxml2
	depends = libxv
	depends = lv2
	depends = lilv
	depends = nasm
	depends = nvidia-utils
	depends = openal
	depends = opencl-headers
	depends = opencv
	depends = ocl-icd
	depends = opencore-amr
	depends = openjpeg2
	depends = opus
	depends = rav1e
	depends = rtmpdump
	depends = rubberband
	depends = sdl2
	depends = smbclient
	depends = snappy
	depends = sndio
	depends = speex
	depends = spirv-tools
	depends = srt
	depends = svt-hevc
	depends = svt-av1
	depends = svt-vp9
	depends = tesseract
	depends = twolame
	depends = v4l-utils
	depends = vapoursynth
	depends = vid.stab
	depends = vmaf
	depends = vulkan-headers
	depends = vulkan-icd-loader
	depends = x264
	depends = x265
	depends = xvidcore
	depends = xz
	depends = zeromq
	depends = zimg
	depends = zlib
	depends = zvbi
	depends = davs2
	depends = flite-all
	depends = lensfun
	depends = libklvanc
	depends = openh264
	depends = librist
	depends = shine
	depends = uavs3d
	depends = vo-amrwbenc
	depends = xavs
	depends = xavs2
	provides = ffmpeg
	provides = libavcodec.so
	provides = libavdevice.so
	provides = libavfilter.so
	provides = libavformat.so
	provides = libavutil.so
	provides = libpostproc.so
	provides = libavresample.so
	provides = libswscale.so
	provides = libswresample.so
	source = https://ffmpeg.org/releases/ffmpeg-5.1.tar.xz
	source = https://ffmpeg.org/releases/ffmpeg-5.1.tar.xz.asc
	source = 010-ffmpeg-add-svt-hevc-gb62f72e.patch::https://raw.githubusercontent.com/OpenVisualCloud/SVT-HEVC/b62f72e752243cee4104cfb41dc7ee409d3ac3e9/ffmpeg_plugin/master-0001-lavc-svt_hevc-add-libsvt-hevc-encoder-wrapper.patch
	source = 020-ffmpeg-add-svt-hevc-docs-gb62f72e.patch::https://raw.githubusercontent.com/OpenVisualCloud/SVT-HEVC/b62f72e752243cee4104cfb41dc7ee409d3ac3e9/ffmpeg_plugin/0002-doc-Add-libsvt_hevc-encoder-docs.patch
	source = 030-ffmpeg-add-svt-vp9-gd9ef3cc.patch::https://raw.githubusercontent.com/OpenVisualCloud/SVT-VP9/d9ef3cc13159143b9afc776c04f67cdfa6284046/ffmpeg_plugin/master-0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch
	source = 040-ffmpeg-add-av_stream_get_first_dts-for-chromium.patch
	source = 060-ffmpeg-fix-segfault-with-avisynthplus.patch
	sha512sums = 9ba24f7488d1c7f8a3e3fbc3920e329724e75631d769400998f7a0858c58213f2eee2880fdd7caa9a701150217448a834b5008840327478314e4508c5e0e3b19
	sha512sums = SKIP
	sha512sums = 81d94885a8442527ffe8dc76bd68ac93983790c8e6a984016481f3b38c4e0bcfb3d7f53b1a511ac85c347f196c33a10a14f1115ffd5708a12cafa89bb1176e28
	sha512sums = 86ba78179084d02adafa599a25b8c9880a788db3007c49a16f1bcc81c022fd3d63cbe68bfea185934205d00d004c5b1b7d749679318d5b7cf0bd2c9a1892e167
	sha512sums = 34cf3210192bc963ea9f2ec207a3c7680483d18922712757426f822bbdae62e6bfa92512d27b9314ca671a66632f7a58138a29144ac590d262e5235bde33e8ea
	sha512sums = b144d4a68b2cdd4ba8d0fcff34fb93abd17daf016799376ca47a5882251aca4a166202f2680dddad10ec011da93d4257810c5ec57712faf592f89bd6ed512fbe
	sha512sums = d3d59ff6285b4a9c7d905ec46136928fa7207c47b5a21011a864a7323a421aa25667c8ecf15877f4070df3736039cd4b9834245cd5b32632a0705deb6f4338ab

pkgname = ffmpeg
