pkgbase = ffmpeg
	pkgdesc = A complete solution to record, convert and stream audio and video (all possible features for AMD)
	pkgver = 6.0
	pkgrel = 1
	url = https://www.ffmpeg.org/
	arch = x86_64
	license = custom: nonfree and unredistributable
	license = LGPL2.1
	license = GPL2
	license = GPL3
	license = LGPL3
	makedepends = amf-headers
	makedepends = ffnvcodec-headers
	makedepends = git
	makedepends = nasm
	makedepends = opencl-headers
	makedepends = vulkan-headers
	makedepends = decklink-sdk
	depends = aom
	depends = aribb24
	depends = alsa-lib
	depends = avisynthplus
	depends = bzip2
	depends = chromaprint-fftw
	depends = clang
	depends = codec2
	depends = cuda
	depends = cudnn
	depends = dav1d
	depends = fontconfig
	depends = freetype2
	depends = fribidi
	depends = frei0r-plugins
	depends = glslang
	depends = gmp
	depends = gsm
	depends = gnutls
	depends = jack
	depends = intel-media-sdk
	depends = kvazaar
	depends = ladspa
	depends = lame
	depends = lcms2
	depends = libass
	depends = libavc1394
	depends = libbluray
	depends = libbs2b
	depends = libcaca
	depends = libcdio-paranoia
	depends = libdc1394
	depends = libdrm
	depends = libfdk-aac
	depends = libgcrypt
	depends = libgl
	depends = libgme
	depends = libiec61883
	depends = libilbc
	depends = libjxl
	depends = libmfx
	depends = libmodplug
	depends = libmysofa
	depends = libomxil-bellagio
	depends = libopenmpt
	depends = libplacebo
	depends = libpulse
	depends = librabbitmq-c
	depends = libraw1394
	depends = librsvg
	depends = libsoxr
	depends = libssh
	depends = libtheora
	depends = libva
	depends = libvdpau
	depends = libvorbis
	depends = libvpx
	depends = libwebp
	depends = libxext
	depends = libx11
	depends = libxcb
	depends = libxml2
	depends = libxv
	depends = lv2
	depends = lilv
	depends = nvidia-utils
	depends = openal
	depends = opencv
	depends = ocl-icd
	depends = opencore-amr
	depends = openjpeg2
	depends = opus
	depends = rav1e
	depends = rtmpdump
	depends = rubberband
	depends = sdl2
	depends = smbclient
	depends = snappy
	depends = sndio
	depends = speex
	depends = spirv-tools
	depends = srt
	depends = svt-hevc
	depends = svt-av1
	depends = svt-vp9
	depends = tesseract
	depends = twolame
	depends = v4l-utils
	depends = vapoursynth
	depends = vid.stab
	depends = vmaf
	depends = vulkan-icd-loader
	depends = x264
	depends = openh264
	depends = x265
	depends = xvidcore
	depends = xz
	depends = zeromq
	depends = zimg
	depends = zlib
	depends = zvbi
	depends = celt
	depends = davs2
	depends = flite-all
	depends = lensfun-git
	depends = libklvanc
	depends = librist
	depends = shine
	depends = uavs3d
	depends = vo-amrwbenc
	depends = xavs
	depends = xavs2
	optdepends = avisynthplus: AviSynthPlus support
	optdepends = intel-media-sdk: Intel QuickSync support
	optdepends = ladspa: LADSPA filters
	optdepends = nvidia-utils: Nvidia NVDEC/NVENC support
	provides = ffmpeg
	provides = libavcodec.so
	provides = libavdevice.so
	provides = libavfilter.so
	provides = libavformat.so
	provides = libavutil.so
	provides = libpostproc.so
	provides = libavresample.so
	provides = libswscale.so
	provides = libswresample.so
	source = ffmpeg-6.0.tar.xz::https://ffmpeg.org/releases/ffmpeg-6.0.tar.xz
	source = 010-ffmpeg-add-svt-hevc-gb62f72e.patch::https://raw.githubusercontent.com/OpenVisualCloud/SVT-HEVC/b62f72e752243cee4104cfb41dc7ee409d3ac3e9/ffmpeg_plugin/master-0001-lavc-svt_hevc-add-libsvt-hevc-encoder-wrapper.patch
	source = 030-ffmpeg-add-svt-vp9-gd9ef3cc.patch::https://raw.githubusercontent.com/OpenVisualCloud/SVT-VP9/d9ef3cc13159143b9afc776c04f67cdfa6284046/ffmpeg_plugin/master-0001-Add-ability-for-ffmpeg-to-run-svt-vp9.patch
	source = 040-ffmpeg-add-av_stream_get_first_dts-for-chromium.patch
	source = 060-ffmpeg-fix-segfault-with-avisynthplus.patch
	source = 090-ffmpeg-fix-v4l2-memory-leak.patch::https://git.ffmpeg.org/gitweb/ffmpeg.git/patch/30aa0c3f4873a92c5e3da8ba8cf030de56bf4cf7
	source = 100-ffmpeg-fix-hwcontext_vulkan.patch::https://git.ffmpeg.org/gitweb/ffmpeg.git/patch/eb0455d64690eed0068e5cb202f72ecdf899837
	source = LICENSE
	sha512sums = 4d0e8f635d5a1633710f30cb3e0a854b6ca3bf85e33a289d1ec7aca2ad55dc4910010bc9cf3f13eee9f6decb9d50a0df6d7aa5a342f308c3868d2730f3a6b980
	sha512sums = 81d94885a8442527ffe8dc76bd68ac93983790c8e6a984016481f3b38c4e0bcfb3d7f53b1a511ac85c347f196c33a10a14f1115ffd5708a12cafa89bb1176e28
	sha512sums = 34cf3210192bc963ea9f2ec207a3c7680483d18922712757426f822bbdae62e6bfa92512d27b9314ca671a66632f7a58138a29144ac590d262e5235bde33e8ea
	sha512sums = b144d4a68b2cdd4ba8d0fcff34fb93abd17daf016799376ca47a5882251aca4a166202f2680dddad10ec011da93d4257810c5ec57712faf592f89bd6ed512fbe
	sha512sums = ea66800521202425dd1a812c4a9e492083bdcb11ae0d7c099e01525e5a3243a0f20a279b646b3882102d15112cb6794fd183c6831a78832645946fdb339b302a
	sha512sums = 8dfefa1133ba39bb338b0667ad390b2bfdfd9a4b59029cff7e0bd9542e1c4c956584056d382a4bd79703dc64e4ea7c6e2bd7376f6ac11e68a9d120f20189534a
	sha512sums = bce2b070e59e62c82650ab52a07446f0479b081a24943682c50af975971126c3623b5387010df9469efe3221ea43bf45d57ea95c63e600bb139a6593e93f2030
	sha512sums = 828dfc54c10895888adb5373b10be8e39eb47e472a8a4bef632ec2dfa7d8ac79c57c5d51d9548fd8762a85a5f9677076b620903bd8c0cfa2418f790037b626a6

pkgname = ffmpeg
pkgbase = ffmpeg
	pkgdesc = A complete solution to record, convert and stream audio and video (all possible features for AMD)
	pkgver = 6.0
	pkgrel = 1
	url = https://www.ffmpeg.org/
	arch = x86_64
	license = custom: nonfree and unredistributable
	license = LGPL2.1
	license = GPL2
	license = GPL3
	license = LGPL3
	makedepends = amf-headers
	makedepends = ffnvcodec-headers
	makedepends = git
	makedepends = nasm
	makedepends = opencl-headers
	makedepends = vulkan-headers
	makedepends = chromaprint-fftw
	makedepends = uavs3d
	makedepends = decklink-sdk
	depends = aom
	depends = aribb24
	depends = alsa-lib
	depends = avisynthplus
	depends = bzip2
	depends = clang
	depends = codec2
	depends = cuda
	depends = cudnn
	depends = dav1d
	depends = fontconfig
	depends = freetype2
	depends = fribidi
	depends = frei0r-plugins
	depends = glslang
	depends = gmp
	depends = gsm
	depends = gnutls
	depends = jack
	depends = intel-media-sdk
	depends = kvazaar
	depends = ladspa
	depends = lame
	depends = lcms2
	depends = libass
	depends = libavc1394
	depends = libbluray
	depends = libbs2b
	depends = libcaca
	depends = libcdio-paranoia
	depends = libdc1394
	depends = libdrm
	depends = libfdk-aac
	depends = libgcrypt
	depends = libgl
	depends = libgme
	depends = libiec61883
	depends = libilbc
	depends = libjxl
	depends = libmfx
	depends = libmodplug
	depends = libmysofa
	depends = libomxil-bellagio
	depends = libopenmpt
	depends = libplacebo
	depends = libpulse
	depends = librabbitmq-c
	depends = libraw1394
	depends = librsvg
	depends = libsoxr
	depends = libssh
	depends = libtheora
	depends = libva
	depends = libvdpau
	depends = libvorbis
	depends = libvpx
	depends = libwebp
	depends = libxext
	depends = libx11
	depends = libxcb
	depends = libxml2
	depends = libxv
	depends = lv2
	depends = lilv
	depends = nvidia-utils
	depends = openal
	depends = opencv
	depends = ocl-icd
	depends = opencore-amr
	depends = openjpeg2
	depends = opus
	depends = rav1e
	depends = rtmpdump
	depends = rubberband
	depends = sdl2
	depends = smbclient
	depends = snappy
	depends = sndio
	depends = speex
	depends = spirv-tools
	depends = srt
	depends = svt-hevc
	depends = svt-av1
	depends = svt-vp9
	depends = tesseract
	depends = twolame
	depends = v4l-utils
	depends = vapoursynth
	depends = vid.stab
	depends = vmaf
	depends = vulkan-icd-loader
	depends = x264
	depends = openh264
	depends = x265
	depends = xvidcore
	depends = xz
	depends = zeromq
	depends = zimg
	depends = zlib
	depends = zvbi
	depends = celt
	depends = davs2
	depends = flite-all
	depends = lensfun-git
	depends = libklvanc
	depends = librist
	depends = shine
	depends = vo-amrwbenc
	depends = xavs
	depends = xavs2
	optdepends = avisynthplus: AviSynthPlus support
	optdepends = intel-media-sdk: Intel QuickSync support
	optdepends = ladspa: LADSPA filters
	optdepends = nvidia-utils: Nvidia NVDEC/NVENC support
	provides = ffmpeg
	provides = libavcodec.so
	provides = libavdevice.so
	provides = libavfilter.so
	provides = libavformat.so
	provides = libavutil.so
	provides = libpostproc.so
	provides = libavresample.so
	provides = libswscale.so
	provides = libswresample.so
	source = ffmpeg-6.0.tar.xz::https://ffmpeg.org/releases/ffmpeg-6.0.tar.xz
	source = 040-ffmpeg-add-av_stream_get_first_dts-for-chromium.patch
	source = LICENSE
	sha512sums = 4d0e8f635d5a1633710f30cb3e0a854b6ca3bf85e33a289d1ec7aca2ad55dc4910010bc9cf3f13eee9f6decb9d50a0df6d7aa5a342f308c3868d2730f3a6b980
	sha512sums = b144d4a68b2cdd4ba8d0fcff34fb93abd17daf016799376ca47a5882251aca4a166202f2680dddad10ec011da93d4257810c5ec57712faf592f89bd6ed512fbe
	sha512sums = 828dfc54c10895888adb5373b10be8e39eb47e472a8a4bef632ec2dfa7d8ac79c57c5d51d9548fd8762a85a5f9677076b620903bd8c0cfa2418f790037b626a6

pkgname = ffmpeg
