pkgbase = ffmpeg
	pkgdesc = A complete solution to record, convert and stream audio and video (all possible features for AMD)
	pkgver = 5.0
	pkgrel = 16
	url = https://www.ffmpeg.org/
	arch = x86_64
	license = custom: nonfree and unredistributable
	license = LGPL2.1
	license = GPL2
	license = GPL3
	license = LGPL3
	makedepends = git
	makedepends = decklink-sdk
	depends = amf-headers
	depends = aom
	depends = aribb24
	depends = alsa-lib
	depends = avisynthplus
	depends = bzip2
	depends = celt
	depends = chromaprint
	depends = clang
	depends = codec2
	depends = cuda
	depends = dav1d
	depends = ffnvcodec-headers
	depends = fontconfig
	depends = freetype2
	depends = fribidi
	depends = frei0r-plugins
	depends = glslang
	depends = gmp
	depends = gsm
	depends = gnutls
	depends = jack
	depends = intel-media-sdk
	depends = kvazaar
	depends = ladspa
	depends = lame
	depends = lensfun
	depends = libass
	depends = libavc1394
	depends = libbluray
	depends = libbs2b
	depends = libcaca
	depends = libcdio-paranoia
	depends = libdc1394
	depends = libdrm
	depends = libfdk-aac
	depends = libgcrypt
	depends = libgl
	depends = libgme
	depends = libiec61883
	depends = libilbc
	depends = libmfx
	depends = libmodplug
	depends = libmysofa
	depends = libomxil-bellagio
	depends = libopenmpt
	depends = libpulse
	depends = librabbitmq-c
	depends = libraw1394
	depends = librsvg
	depends = libsoxr
	depends = libssh
	depends = libtheora
	depends = libva
	depends = libvdpau
	depends = libvorbis
	depends = libvpx
	depends = libwebp
	depends = libxext
	depends = libx11
	depends = libxcb
	depends = libxml2
	depends = libxv
	depends = lv2
	depends = lilv
	depends = nasm
	depends = nvidia-utils
	depends = openal
	depends = opencl-headers
	depends = opencv
	depends = ocl-icd
	depends = opencore-amr
	depends = openjpeg2
	depends = opus
	depends = rav1e
	depends = rtmpdump
	depends = rubberband
	depends = sdl2
	depends = smbclient
	depends = snappy
	depends = sndio
	depends = speex
	depends = spirv-tools
	depends = srt
	depends = svt-hevc
	depends = svt-av1
	depends = svt-vp9
	depends = tesseract
	depends = twolame
	depends = v4l-utils
	depends = vapoursynth
	depends = vid.stab
	depends = vmaf
	depends = vulkan-headers
	depends = vulkan-icd-loader
	depends = x264
	depends = x265
	depends = xvidcore
	depends = xz
	depends = zeromq
	depends = zimg
	depends = zlib
	depends = zvbi
	depends = davs2
	depends = flite-all
	depends = libklvanc
	depends = openh264
	depends = librist
	depends = shine
	depends = uavs3d
	depends = vo-amrwbenc
	depends = xavs
	depends = xavs2
	depends = lensfun
	provides = libavcodec.so
	provides = libavdevice.so
	provides = libavfilter.so
	provides = libavformat.so
	provides = libavutil.so
	provides = libpostproc.so
	provides = libavresample.so
	provides = libswscale.so
	provides = libswresample.so
	source = ffmpeg-5.0::git+https://git.ffmpeg.org/ffmpeg.git#tag=390d6853d0ef408007feb39c0040682c81c02751
	source = ffmpeg-vmaf2.x.patch
	source = add-av_stream_get_first_dts-for-chromium.patch
	sha512sums = SKIP
	sha512sums = f775e35465f6487b50e1e5f36c70946ee03db448bc2970c5b4b697565fa380c4a61d8a7bed0cbb89a54b1118a2f097cf4a27290d632575c524876beeff448f5a
	sha512sums = bb23ce619dc98f341ded7e269dd703074d6fb5aa28bd71ba1f62bc4c02e471bf57d99aa47d57993596ffe7aa65fbb410410082705dd203839bb0992975f1fede

pkgname = ffmpeg
